:host {
  display: flex;
  flex-wrap: wrap;
  gap: var(--tui-padding-l);
  padding: var(--tui-padding-l);

  @media screen and (width <= var(--breakpoint-m)) {
    & {
      justify-content: center;
    }
  }
}
