<div
  class="card"
  [attr.data-layout]="card().layout"
  tuiAppearance="floating"
  tuiCardLarge
>
  <header class="header" tuiHeader>
    <h2 tuiTitle>{{ card().title }}</h2>
    @if (devices().length > 1) {
      <input
        class="input"
        [showIcons]="false"
        tuiSwitch
        type="checkbox"
        [ngModel]="switchState"
        (ngModelChange)="toggleDevices($event)"
      />
    }
  </header>
  <div class="devices">
    @for (item of card().items; track item.label) {
      @switch (item.type) {
        @case (smartDeviceType.Device) {
          <app-device
            [layout]="card().layout"
            [device]="item"
            (stateChanged)="setSwitchState()"
          ></app-device>
        }
        @case (smartDeviceType.Sensor) {
          <app-sensor [layout]="card().layout" [sensor]="item"></app-sensor>
        }
      }
    }
  </div>
</div>
