$border: 1px solid var(--tui-border-normal);

:host {
  border-left: $border;
  border-bottom: $border;
  border-top: $border;

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--tui-padding-l);
    padding: var(--tui-padding-m);
    width: 100%;

    .user-info {
      display: flex;
      align-items: center;
      gap: var(--tui-padding-l);

      .subtitle {
        font-size: var(--font-heading-h6);
      }
    }
  }
}
