:host {
  border-left: 1px solid var(--tui-border-normal);
  border-bottom: 1px solid var(--tui-border-normal);
  border-top: 1px solid var(--tui-border-normal);

  &:has(.footer.hidden) {
    border: none;
    visibility: hidden;
  }

  .footer {
    display: flex;
    flex-basis: 10%;
    align-items: center;
    gap: var(--tui-padding-l);
    padding: var(--tui-padding-m);

    .subtitle {
      font-size: 1.1rem;
    }
  }
}
