@if (isAuthed) {
  @let hidden = !isOpen();

  <aside [class.hidden]="hidden" class="sidebar">
    <app-sidebar-header [title]="headerTitle" [hidden]="hidden" />
    <button
      class="btn"
      appearance="secondary"
      iconStart="{{ icon | tuiMaterialIcon }}"
      size="m"
      tuiIconButton
      [title]="title"
      type="button"
      (click)="toggleSidebar()"
    ></button>
    <app-sidebar-menu [hidden]="hidden" />
    <app-sidebar-footer
      [initials]="user.initials"
      [username]="user.fullName"
      (logoutClick)="handleLogout()"
      [hidden]="hidden"
    />
  </aside>
}
