@let hidden = !isOpen();

<aside [class.hidden]="!isOpen()" class="sidebar">
  <app-sidebar-header title="Smart Home UI" [hidden]="hidden" />
  <button
    class="btn"
    appearance="secondary"
    iconStart="{{ icon | tuiMaterialIcon }}"
    size="m"
    tuiIconButton
    [title]="isOpen() ? 'Close sidebar' : 'Open sidebar'"
    type="button"
    (click)="toggleSidebar()"
  ></button>
  <app-sidebar-menu [items]="items" [hidden]="hidden" />
  <app-sidebar-footer initials="VS" username="h3nnessey" [hidden]="hidden" />
</aside>
