$border: 1px solid var(--tui-border-normal);
$offset: 7px;
$width: 15px;

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 100%;
  background: var(--tui-background-base);
  transition: width 0.2s ease;

  .btn {
    position: absolute;
    border-radius: 100%;
    right: $offset;
    top: $offset;
  }

  &.hidden {
    width: $width;
    overflow: hidden;
    background: var(--tui-background-primary);

    .btn {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: $width;
      border-radius: 0;
      border-top: $border;
      border-left: $border;
      border-bottom: $border;
    }
  }

  @media screen and (width <= 880px) {
    &:not(&.hidden) {
      position: fixed;
      width: 100%;
      z-index: 1;
    }
  }
}
