@let hidden = !isOpen();

<aside [class.hidden]="!isOpen()" class="sidebar">
  <app-sidebar-header title="Smart Home UI" [hidden]="hidden" />
  @if (isMobile()) {
    <button
      class="btn"
      appearance="outline"
      iconStart="{{ icon | tuiMaterialIcon }}"
      size="m"
      tuiIconButton
      type="button"
      [style.border-radius.%]="100"
      (click)="toggleSidebar()"
    ></button>
  }
  <app-sidebar-menu [items]="items()" [hidden]="hidden" />
  <app-sidebar-footer initials="VS" username="h3nnessey" [hidden]="hidden" />
</aside>
