:host {
  width: 100%;

  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--tui-padding-l);
    user-select: none;

    .icon {
      color: var(--tui-background-accent-1-hover);

      &.active {
        color: var(--tui-background-accent-2);
      }
    }

    .input.hidden {
      display: none;
    }
  }
}
