@if (dashboards().length > 0) {
  <nav [class.hidden]="hidden()" class="nav">
    <ul class="nav-list">
      @for (dashboard of dashboards(); track dashboard.id) {
        <li>
          <button
            class="link"
            appearance="outline"
            tuiButton
            type="button"
            [routerLink]="`/${appRoutes.Dashboard.Root}/${dashboard.id}`"
            routerLinkActive="link-active"
            [disabled]="disabled(dashboard.id)"
          >
            <tui-avatar
              class="icon"
              size="m"
              [src]="dashboard.icon | tuiMaterialIcon"
            />
            {{ dashboard.title }}
          </button>
        </li>
      }
    </ul>
  </nav>
} @else {
  <p tuiTitle class="empty" [class.hidden]="hidden()">
    {{ emptyMessage }}
  </p>
}
