$bg-2: var(--tui-background-accent-2);

:host {
  flex: 1;
  padding: var(--tui-padding-m);
  border-left: 1px solid var(--tui-border-normal);

  &:has(.nav.hidden) {
    border: none;
    visibility: hidden;
  }
}

.nav {
  width: 100%;

  .link {
    width: 100%;
    justify-content: flex-start;

    &:disabled {
      opacity: 1;
    }

    .icon {
      color: var(--tui-background-accent-1);
    }

    &-active {
      color: $bg-2;
      outline: 1px solid $bg-2;

      .icon {
        color: $bg-2;
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: var(--tui-padding-s);
    list-style: none;
  }

  &.hidden {
    border: none;
    visibility: hidden;
  }
}

.empty {
  opacity: 1;

  &.hidden {
    opacity: 0;
  }
}
